<h1>IBilik Accessment</h1> 
<!--login-->
<p>Please <strong>LOGIN</strong> to continue.</p>
<form action= '/users/login' method= 'POST'>
	<label>Email: </label>
	<input type= "email" name= "email"><br>
	<label>Password: </label>
	<input type= "password" name= "password"><br>
	<input type= "submit" value= "Login">
</form>

<p>Please <strong>SIGN UP</strong> to create a new account.</p>
<a href= "/users/new">
	<button>Sign Up</button>
</a>